<div class="order-list__header">

	<div class="order-list__row">

		<div class="order-list__title-name">
			Job Name <i class="material-icons">keyboard_arrow_down</i>
		</div>
		<div class="order-list__title-status">
			Status <i class="material-icons">keyboard_arrow_down</i>
		</div>

	</div>

</div>


<div class="order-list__body">

	<div class="order-list__row" *ngFor="let order of orders">

		<div class="order-list__job-name">
			{{order.name}} 
		</div>

		<div class="order-list__job-status" 
		[ngClass]="{'pending': order.status.isPending, 'error': order.status.isFailed, 'done': order.status.isDone}">

			<span class="order-list__job-status-dot"></span>
			<span class="order-list__job-status-label">{{order.status.label}}</span>
			<span class="order-list__job-remove" [hidden]="!order.status.isDone" ><i class="material-icons" (click)="remove(order)" >cancel</i></span>

		</div>

	</div>

</div>