app-root {
	font-family: Roboto, sans-serif;
	display: flex;
	width: 100%;
	height: auto;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.container{
	max-width: 640px;
	width: 100%;
}


.row{
	display: flex;
	flex-direction: row;

	&-inner{
		@extend .row;
		flex: 1 1 50%;
		padding: 1em;
	}

}

.column{
	display: flex;
	flex-direction: column;
}