.order-list{
 	@extend .column;
 	font-size: 0.9rem;
	
	&__row{
		@extend .row;
		border-bottom: 1px solid rgba(200,200,200,0.5);

		&:nth-child(even){
			background-color: #fbfbfb;
		}
	}

	&__header{
		font-weight: bold;
	}
	
	&__job-name,
	&__job-status{
		@extend .row-inner;
	}

	&__title{

		&-name,
		&-status{
			.material-icons {
				font-size: 1.4em;
			}
		}

		&-name{
			@extend .row-inner;
			color: #79aeba;
		}

		&-status{
			@extend .row-inner;
			color: #4c4c4c;
		}
	}


	&__job-remove{
		cursor: pointer;

		.material-icons{
			color: #ccd3d9;
			font-size: 1.2em;

			&:hover {
				color: darken(#ccd3d9,20);
			}
		}
	}

	&__job-name {
		color: #858585
	}

	&__job-status{

		&.pending{
			color: #c99c5a;
		}
		&.error{
			color: #759f89;
		}
		&.done{
			color: #be3d5a;
		}

		&-label {
			flex: 1 1 auto;
		}

		&-dot{
			width: 20px;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 14px;

			&:before{
				content: "";
				border-radius: 50%;
				height: 6px;
				width: 6px;
				border: 2px solid;
				
			}
		}

	}

}

