<!--The whole content below can be removed with the new code.-->
<div class="container">
  <div style="text-align:center">
    <h1>
      Coffee Orders <i class="material-icons">notifications</i>
    </h1>
  </div>

  <order-list class="order-list"></order-list>
</div>

